<% if (currentUser) { %>
  <a href="/post/create">Create a new message</a>
<% } %>
<% posts.map(post => { %>
  <h3><%= post.title %></h3>
  <p><%= post.body %></p>
  <% if (currentUser) { %>
    <div>
      <%= post.created_at %>
      <%= post.username %>
    </div>
  <% } %>
  <% if (currentUser && currentUser.admin) { %>
    <div>
      <a href="/post/<%= post.id %>/delete">Delete Message</a>
    </div>
  <% } %>
<% }) %>
